<link rel="stylesheet" href="/css/footer.css">

<!-- this is footer partials which is showing into the bottom of the page -->
<div id="card-container"
  class="card w-100 mt-5 footerBackground "
  style="position: fixed; left: 0; bottom: 0; width: 100%"
>
  <div class="card-header  ">
    <div>
      <p>&#169; All Rights Reserved</p>
      <footer class="blockquote-footer name">
        <cite  title="Source Title " >Pratham Kumar</cite>
    </div>
   
      <div>
      <a href="/" class="btn">Home</a>


      </div>
      <!-- <button type="button" class="btn btn-outline-light mx-5">Home</button> -->
    </footer>
  </div>
</div>