// styling header of the page and also background color of the header

.headerBackground{
    background: rgb(2,0,36);
    background: linear-gradient(102deg, rgba(2,0,36,1) 0%, rgba(52,189,215,1) 32%, rgba(198,0,255,0.265625) 86%);

  a{
    color: white;
  }
}