// Styling for project page


#create-project{
    margin:0px!important;
    background-color: rgb(110, 201, 243);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}